{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
<div class="outer-js-banner-big-product-title-slider">
    <div style="height: 100%; width: 100%;">
        <div class="swiper js-banner-big-product-title-slider">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                {%  case block.type %}
                    {% when 'slide' %}
                        {% assign product = block.settings.product_item %}
                        <div class="swiper-slide color-bg-{{ block.settings.bg_color }}">
                            <h2>{{ product.title }}</h2>
                        </div>
                    {% when 'image' %}
                        <div class="swiper-slide color-bg-{{ block.settings.bg_color }}">
                            {% if block.settings.bg_img %}
                                <div class="swiper-slide__bg">
                                    {{ block.settings.bg_img | image_url: width: 1800 | image_tag: loading: 'eager' }}
                                </div>
                            {% endif %}
                        </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="floating-papper-effect-mobile d-md-none">
        <img class="w-100" src="{{ 'papper-effect-mobile.png' | asset_url }}" alt="">
    </div>
</div>
<div class="outer-js-banner-product-main-slider">
    <div class="swiper js-banner-product-main-slider">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}

                {%  case block.type %}
                {% when 'slide' %}
                    <div class="swiper-slide  color-bg-{{ block.settings.bg_color }}">
                        {% assign product = block.settings.product_item %}

                        {% liquid 
                            assign priceToshow = product.selected_or_first_available_variant
                            for variant in product.variants
                                if variant.title contains 'Regular' or variant.title contains 'regular'
                                    assign priceToshow = variant.price
                                    break 
                                endif
                            endfor
                        %}
                        {%- assign product_form_id = 'product-form-' | append: block.id -%}
                        <div class="text-slider-static">
                          {% if product.selected_or_first_available_variant.id == 43852034900146 %}
                              <h1>Winter S'mores <br/>Zone</h1>
                              <span>Enjoy a cozy night with family and friends<br/> around a hot and delicious smores box.</span>
                          {% endif %}
                          {% if product.selected_or_first_available_variant.id == 43917528924338 %}
                            <h1 style="display:none;">Valentine’s Day</h1>
                            <span style="display:none;">Feast on flavorful memories with your loved one and a delicious strawberry shortcake box.</span>
                          {% endif %} 
                        </div>
                        <div class="main-image-with-price {{ block.settings.product_item }}">
                              
                            <div class="main-image">
                                {{ product.featured_image | image_url: width: 850 | image_tag: loading: 'eager' }}
                            </div>
                            <a href="{{ product.url }}" class="price-section-wrapper">
                                <div class="price-section">
                                    <img class="circular-text" src="{{ 'circular-text.png' | asset_url }}" alt=""
                                        loading="eager" width="260" height="260">
                                    <div class="price-txt-section">
                                        <h5 class="title">{{ product.title | prepend: '#' }}</h5>
                                        <div class="p-price">
                                            <span class="symbol">{{ cart.currency.symbol }}</span>
                                            {{- priceToshow | money_without_currency }}
                                        </div>
                                        {% if block.settings.is_special %}
                                        <span class="special-tag">Special Price</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <div class="box-image-shadow">
                                <img class="w-100" src="{{ 'box-shadow.png' | asset_url }}" alt="">
                            </div>
                        </div>

                        {% if block.settings.svg_code != blank or block.settings.bg_composition_img != blank %}
                        <div class="floating-composition">
                            {% if block.settings.img_or_svg %}
                                <div class="svg">{{ block.settings.svg_code }}</div>
                            {%  else %}
                            {{ block.settings.bg_composition_img | image_url: width: 1800 | image_tag: loading: 'eager' }}
                            {% endif %}
                        </div>
                        {% endif %}
                       
                      {% if product.selected_or_first_available_variant.id == 43852034900146 or product.selected_or_first_available_variant.id == 43917528924338 %}
                        {% if product.selected_or_first_available_variant.id == 43852034900146 %}
                          <div class="slide-title-small">#SmoresBox</div>
                        {% endif %}
                        {% if product.selected_or_first_available_variant.id == 43917528924338 %}
                          <div class="slide-title-small">#ShortcakeBox</div>
                        {% endif %}
                      {%  else %}
                         <div class="slide-title-small">{{ product.title | prepend: '#' }}</div>
                      {% endif %}
                        <div class="form-details">
                            {%- if product != blank -%}
                            <div {{ block.shopify_attributes }}>
                                {%- form 'product'
                                , product -%}
                                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                {{ form | payment_terms }}
                                {%- endform -%}
                            </div>
                              {% if product.selected_or_first_available_variant.id == 43852034900146 or product.selected_or_first_available_variant.id == 43917528924338 %}
                                <a href="{{ product.url }}" id="ProductSubmitButton-template--16756019462322__banner_slideshow" type="submit" name="add" class="product-form__submit button button--primary" disabled="">
                                  <span>View Product</span></a>
                                {%  else %}
                                {%- render 'buy-buttons-all-ajax', block: block, product: product, product_form_id: product_form_id, section_id: section.id
                            -%}
                              {%- endif -%}
                            {%- endif -%}
                        </div>
                    </div>
                {% when 'image' %}
                    <div class="swiper-slide swiper-slide--image  color-bg-{{ block.settings.bg_color }}">
                        {% assign product = block.settings.product_item %}
                        <div class="content-holder">
                            <div class="content-holder__box">
                                {% if block.settings.title != blank %}
                                    <h1>{{ block.settings.title }}</h1>
                                    {% endif %}
                                    {% if block.settings.desc != blank %}
                                    <div class="desc">
                                        {{ block.settings.desc }}
                                    </div>
                                 {% endif %}
                            </div>
                        </div>
                        {% if block.settings.svg_code != blank or block.settings.bg_composition_img != blank %}
                            <div class="floating-composition">
                                {% if block.settings.img_or_svg %}
                                    <div class="svg">{{ block.settings.svg_code }}</div>
                                {%  else %}
                                {{ block.settings.bg_composition_img | image_url: width: 1800 | image_tag: loading: 'eager' }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="slide-title-small">{{ product.title | prepend: '#' }}</div>
                        <div class="form-details">
                            {%- if product != blank -%}
                                <div {{ block.shopify_attributes }}>
                                    {%- form 'product'
                                    , product -%}
                                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                    {{ form | payment_terms }}
                                    {%- endform -%}
                                </div>
                                {%- render 'buy-buttons-all-ajax', block: block, product: product, product_form_id: product_form_id, section_id: section.id
                                -%}
                            {%  elsif block.settings.button_url != blank %}
                                    <a href="{{block.settings.button_url}}" class="button product-form__submit button--primary">
                                        {{block.settings.button_txt}}
                                    </a>
                            {%- endif -%}
                        </div>
                    </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="hero-banner__footer">
    <div></div>
    <div class="swiper-buttons">
        <div class="swiper-button-prev">{% render 'icon-arrow-left' %}</div>
        <div class="swiper-button-next">{% render 'icon-arrow-right' %}</div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<style>
.text-slider-static{
  opacity: 1;
  position: absolute;
  z-index: 999;
  top: 22vw;
  color: #fff;
  left: 50px;
}
.text-slider-static h1{
  font-size: 70px;
}  
.main-image-with-price.smores-box,
.main-image-with-price.strawberry-short-cake-box{
    display:none;
}
.swiper-slide-active > .main-image-with-price.smores-box + .floating-composition,
.swiper-slide-active > .main-image-with-price.strawberry-short-cake-box + .floating-composition{
    transform: translateY(0) !important;
}
@media (max-width: 1024px) {
  .hero-banner .swiper-slide-active > .main-image-with-price.smores-box + .floating-composition{
	background-image: url(//buffetbox.com/cdn/shop/files/smores-box_589a6088-c971-460b-9c88-e3009353f1b5.png?v=1736513875);
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vw;
    transform: translateY(0%) !important;
  }
  .hero-banner .swiper-slide-active > .main-image-with-price.strawberry-short-cake-box + .floating-composition{
	background-image: url(//buffetbox.com/cdn/shop/files/Strawberry_shortcake_box_533d2eef-2ffe-4368-9c9c-cc7421c5806e.png?v=1736515033);
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vw;
    transform: translateY(0%) !important;
  }
  .swiper-slide-active > .main-image-with-price.smores-box + .floating-composition img,
  .swiper-slide-active > .main-image-with-price.strawberry-short-cake-box + .floating-composition img{
     display:none;
   }
}  
@media (max-width: 767px) {
  .hero-banner .swiper-slide-active > .main-image-with-price.smores-box + .floating-composition{
	background-image: url(//cdn.shopify.com/s/files/1/0647/8145/1442/files/smores-boxs.png?v=1736925937);
    background-size: cover;
    background-repeat: no-repeat;
    height: 192vw;
    background-position: center;
  }
  .hero-banner .swiper-slide-active > .main-image-with-price.strawberry-short-cake-box + .floating-composition{
    background-image: url(//cdn.shopify.com/s/files/1/0647/8145/1442/files/Strawberry-boxs.png?v=1736925835);
    background-size: cover;
    background-repeat: no-repeat;
    height: 192vw;
    background-position: center;
  }
}  
</style>
{% schema %}
{
"name": "Banner: Slideshow",
"class": "hero-banner",
"settings": [
    {
        "type": "checkbox",
        "id": "show_slide_arrow",
        "label": "Show Arrow"
    }
],
"blocks": [
    {
        "name": "Slide",
        "type": "slide",
        "limit": 5,
        "settings": [
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background Color",
            "options": [
                {
                    "label": "Orange",
                    "value": "orange"
                }, {
                    "label": "Blue",
                    "value": "blue"
                }, {
                    "label": "Pink",
                    "value": "pink"
                }, {
                    "label": "Light Brown",
                    "value": "light-brown"
                }, {
                    "label": "Green",
                    "value": "green"
                }
            ]
        }, 
        {
            "type": "product",
            "id": "product_item",
            "label": "Product"
        },              
        {
            "type": "checkbox",
            "id": "img_or_svg",
            "label": "Is SVG?",
            "info": "If selected, svg code will replace Image"
        }, 
        {
            "type": "image_picker",
            "id": "bg_composition_img",
            "label": "BG composition"
        }, 
        {
            "type": "html",
            "id": "svg_code",
            "label": "SVG code"
        }, 
        {
            "type": "checkbox",
            "id": "is_special",
            "label": "Special Label?"
        }
        ]
    },
    {
        "type": "image",
        "name": "Slide: Background Image",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "desc",
                "label": "Description"
            },
            {
                "type": "product",
                "id": "product_item",
                "label": "Product"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            },  
            {
                "type": "text",
                "id": "button_txt",
                "label": "Button Text",
                "default": "view  more"
            },             
            {
                "type": "checkbox",
                "id": "img_or_svg",
                "label": "Is SVG?",
                "info": "If selected, svg code will replace Image"
            }, 
            {
                "type": "image_picker",
                "id": "bg_composition_img",
                "label": "BG composition"
            }, 
            {
                "type": "html",
                "id": "svg_code",
                "label": "SVG code"
            }
        ]
    }
],
    "presets": [
        {
        "name": "Banner: Slideshow"
        }
    ]
}
{% endschema %}