{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<div class="testimonials{% if section.settings.is_background %} has-bgArc{% endif %}">
    {% if section.settings.is_background %}
    <div class="bgArcWrapper">
        <div class="bgArc">&nbsp;</div>
    </div>
    {% endif %}
    <div class="page-width">
        <div class="section-heading">
            <h5 class="title-helper">{{ section.settings.subtitle }}</h5>
            <h2>{{ section.settings.title }}</h2>
        </div>
    </div>
    <div class="swiper js-testimonials-slider-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper js-testimonials-slider-btm">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    
    <div class="btn-wrapper">
        <a class="btn btn-blue-gradient" href="#">See All Testimonials</a>
    </div>
</div>

{% schema %}
{
    "name": "Section: Testimonial",
    "settings": [
            {
                "type": "checkbox",
                "id": "is_background",
                "label": "Have Background?"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Text Here...",
                "info": "Text hewer"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Sub Heading"
            }
        ]
}
{% endschema %}