{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<div class="testimonials">
    <div class="page-width">
        <div class="section-heading">
            <h5 class="title-helper">What People Are Saying</h5>
            <h2>About Buffet Box</h2>
        </div>
    </div>
    <div class="swiper js-testimonials-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        <img src="{{ 'sparkle.gif' | asset_url }}" alt="">
                    </div>
                    <div class="elems-top__right">
                        <div class="name">Cath P.</div>
                        <div class="address">New York City, New York</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        Just discovered this site online. Fantastic flavors, charming packaging, and quick delivery. My new sweet haven!
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrapper">
        <a class="btn btn-blue-gradient" href="#">See All Testimonials</a>
    </div>
</div>

{% schema %}
{
    "name": "Section: Testimonial",
    "settings": [
        
        ]
}
{% endschema %}