{{ 'section-find-perfect-gift.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }}-padding-mobile {
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding-desktop {
            padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }
    }
    @media screen and (min-width: 1200px) {
        .section-{{ section.id }}-padding-desktop {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

{% assign pricerange = '' | split: '  ' %}
{% assign recipientType = '' | split: '  ' %}
{% for product in collections.all.products %}
    {% assign pricerangeName = product.metafields.custom.price_range | append:"," | split: '  ' %}
    {% assign pricerange = pricerange | concat: pricerangeName %}
    
    {% assign recipientName = product.metafields.custom.recipient_type.value %}
    {% for recipient in recipientName %}
        {% assign rec = recipient | append:"," | split: '  ' %}
        {% assign recipientType = recipientType | concat: rec %}
    {% endfor %}
{% endfor %}

{% assign pricerangeFinal =   pricerange | uniq | sort_natural %}
{% assign recipientFinal =   recipientType | uniq %}

<div class="find-perfect-gift section-{{ section.id }}-padding-desktop section-{{ section.id }}-padding-mobile">
    <div class="bgArc">&nbsp;</div>
    <div class="page-width">
        <div class="section-heading">
            <h5 class="title-helper">Not Sure What To Get?</h5>
            <h2>Find The Perfect Box</h2>
        </div>
        <div class="find-perfect-gift-form-wrapper">
            <div class="find-perfect-gift-form">
                <input class="mainUrl" type="hidden" value="anniversary">
                <input class="filterprice" type="hidden" value="$100 to $200">
                <input class="whofor" type="hidden" value="Boss">
                <div class="elems-top">
                    <div class="form-group">
                        <label>Who is this for?</label>
                        <select class="form-control elems-top-who">
                            {% for item in recipientFinal %}
                                {% assign itemrec = item | split: ',' %}
                                <option value="{{ itemrec[0] }}">{{ itemrec[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>What's the occasion?</label>
                        <select class="form-control elems-top-what">
                            {% for collection in collections %}
                                {% unless collection.title == 'Sale' %}
                                    <option value="{{ collection.handle }}">{{ collection.title }}</option>
                                {% endunless %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>What's your budget?</label>
                        <select class="form-control elems-top-budget">
                            {% for priceitem in pricerangeFinal %}
                                {% assign itemprice = priceitem | split: ',' %}
                                <option value="{{ itemprice[0] }}">{{ itemprice[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="submit-button-wrapper">
                    <button class="btn btn-red-gradient perfectbox__button">Find The Perfect Gift</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const formMain = document.querySelector('.find-perfect-gift-form');
    const formSelector = document.querySelectorAll('.form-control');
    const submitBtn = formMain.querySelector('.perfectbox__button');

    const mainUrl = formMain.querySelector('.mainUrl');
    const filterprice = formMain.querySelector('.filterprice');
    const whofor = formMain.querySelector('.whofor');

    formSelector.forEach((selector)=> {
        selector.addEventListener('change',function(e){
            if(selector.classList.contains('elems-top-budget')){
                filterprice.value = this.value;
            }
            else if(selector.classList.contains('elems-top-who')){
                whofor.value = this.value;
            }
            else {
                mainUrl.value = this.value;
            }
        })
    })

    submitBtn.addEventListener('click',(e)=>{
        let colUrl = `{{ shop.url }}/collections/${mainUrl.value}?filter.p.m.custom.price_range=${encodeURI(filterprice.value)}&filter.p.m.custom.recipient_type=${encodeURI(whofor.value)}`;
        window.location = colUrl;
    })
</script>

{% schema %}
    {
        "name": "Section: Perfect Gift",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 60
            },        

            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Top Padding: Mobile",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Bottom Padding: Mobile",
                "default": 60
            }  
        ]
    }
{% endschema %}