{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }}-padding-mobile {
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding-desktop {
            padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }
    }
    @media screen and (min-width: 1200px) {
        .section-{{ section.id }}-padding-desktop {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}


<div class="testimonials{% if section.settings.is_background %} has-bgArc{% endif %}  section-{{ section.id }}-padding-desktop section-{{ section.id }}-padding-mobile">
    {% if section.settings.is_background %}
    <div class="bgArcWrapper">
        <div class="bgArc">&nbsp;</div>
    </div>
    {% endif %}
    <div class="page-width">
        <div class="section-heading">
            <h5 class="title-helper">{{ section.settings.subtitle }}</h5>
            <h2>{{ section.settings.title }}</h2>
        </div>
    </div>
    <div class="swiper js-testimonials-slider-top">
        <div class="swiper-wrapper">
            {% for testimonial in shop.metaobjects.testimonials.values %}
            <div class="swiper-slide">
                <div class="elems-top">
                    <div class="thumb-img">
                        {{ testimonial.image | image_url: width: 60 | image_tag }}
                    </div>
                    <div class="elems-top__right">
                        <div class="name">{{ testimonial.name }}</div>
                        <div class="address">{{ testimonial.location }}</div>
                    </div>
                </div>
                <div class="elems-btm">
                    <blockquote>
                        <div class="floating-quote">
                            {%- render 'icon-quote' -%}
                        </div>
                        {{ testimonial.content | metafield_tag }}
                    </blockquote>
                </div>
            </div>
            {% endfor %}
            {% for testimonial in shop.metaobjects.testimonials.values %}
                <div class="swiper-slide">
                    <div class="elems-top">
                        <div class="thumb-img">
                            {{ testimonial.image | image_url: width: 60 | image_tag }}
                        </div>
                        <div class="elems-top__right">
                            <div class="name">{{ testimonial.name }}</div>
                            <div class="address">{{ testimonial.location }}</div>
                        </div>
                    </div>
                    <div class="elems-btm">
                        <blockquote>
                            <div class="floating-quote">
                                {%- render 'icon-quote' -%}
                            </div>
                            {{ testimonial.content | metafield_tag }}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper js-testimonials-slider-btm">
        <div class="swiper-wrapper">
            {% for testimonial in shop.metaobjects.testimonials.values %}
                <div class="swiper-slide">
                    <div class="elems-top">
                        <div class="thumb-img">
                            {{ testimonial.image | image_url: width: 60 | image_tag }}
                        </div>
                        <div class="elems-top__right">
                            <div class="name">{{ testimonial.name }}</div>
                            <div class="address">{{ testimonial.location }}</div>
                        </div>
                    </div>
                    <div class="elems-btm">
                        <blockquote>
                            <div class="floating-quote">
                                {%- render 'icon-quote' -%}
                            </div>
                            {{ testimonial.content | metafield_tag }}
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
                {% for testimonial in shop.metaobjects.testimonials.values %}
                    <div class="swiper-slide">
                        <div class="elems-top">
                            <div class="thumb-img">
                                {{ testimonial.image | image_url: width: 60 | image_tag }}
                            </div>
                            <div class="elems-top__right">
                                <div class="name">{{ testimonial.name }}</div>
                                <div class="address">{{ testimonial.location }}</div>
                            </div>
                        </div>
                        <div class="elems-btm">
                            <blockquote>
                                <div class="floating-quote">
                                    {%- render 'icon-quote' -%}
                                </div>
                                {{ testimonial.content | metafield_tag }}
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
        </div>
    </div>
    
    <div class="btn-wrapper">
        <a class="btn btn-blue-gradient" href="#">See All Testimonials</a>
    </div>
</div>

{% schema %}
{
    "name": "Section: Testimonial",
    "settings": [
            {
                "type": "checkbox",
                "id": "is_background",
                "label": "Have Background?"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Text Here...",
                "info": "Text hewer"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Sub Heading"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 300,
                "step": 5,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 300,
                "step": 5,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 0
            },        

            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 300,
                "step": 5,
                "unit": "px",
                "label": "Top Padding: Mobile",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 300,
                "step": 5,
                "unit": "px",
                "label": "Bottom Padding: Mobile",
                "default": 0
            }  
        ]
}
{% endschema %}